
body {
  font-family: 'Chakra Petch', sans-serif;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

main {
margin: 0;
}

.main-title {
    display: block;
    text-align: center;
}

.dark-mode {
    filter: invert(90%);
    background-color: rgba(0, 0, 0, 0.85);
}

.wrapper {
  margin: auto;
  max-width: 100%;
  text-align: center;
}

.popup-background {
    margin: 0;
    top: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.popup-msg {
  width: 450px;
  height: 220px;
  text-align: center;
  border: 1px dashed black;
  background-image: url(./assets/bomb.png);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position:center bottom 15%;
  background-color: white
}

.hidden {
    display: none;
}

.gameover {
color: red;
}

.win {
color: green;
}

.game {
  width: fit-content;
  min-width: 40%;
  margin: auto;
  border: 1px dashed black;
}

.game-head,
.game-setup,
.game-field,
.statistics {
  min-height: 30px;
  display: flex;
  justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed black;
    padding: 15px 5%;
}

.mines-num,
.timer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px dashed black;
  width: 50px;
  height: 25px;
  color:coral;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 0;
  font-weight: 700;
  background-color: transparent;
}


.mines-num-div::before {
    padding-right: 5px;
    content: '';
    background-image: url('./assets/bomb.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    width: 25px;
    height: 25px;
    float: left;
}

.timer-div {
    display: flex;
}
.timer-div::after {
    padding-left: 5px;
    content: '';
    background-image: url('./assets/icons8-timer-64.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    width: 25px;
    height: 25px;
    float: right;
}

.choose-size {
    cursor: pointer;
    background-color: transparent;
    border: 1px dashed black;
    width: 75px;
    height: 25px;
    font-family: 'Chakra Petch', sans-serif;
}

.changed {
    background-color: rgba(0, 0, 0, 0.2);
}

.new-game-btn {
    cursor: pointer;
    border: none;
    background-image: url(./assets/smile-5103.svg);
    background-size: 30px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: all 0.15s ease-in-out;
}

.new-game-btn:hover,
.sound-btn:hover,
.theme-btn:hover {
    filter: invert(76%) sepia(36%) saturate(7494%) hue-rotate(333deg) brightness(108%) contrast(102%);
}

.sound-btn {
    cursor: pointer;
    border: none;
    background-image: url(./assets/icons8-no-audio-80.png);
    background-size: 30px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: all 0.15s ease-in-out;
}

.theme-btn {
    cursor: pointer;
    border: none;
    background-image: url(./assets/icons8-moon-80.png);
    background-size: 30px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: all 0.15s ease-in-out;
    margin-left: 16px;
}

.sound-on {
    background-image: url(./assets/icons8-sound-80.png);
}

.game-field {
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    padding: 60px 20px;
}

.flag-count {
    z-index: 1;
    position: absolute;
    top: 15px;
    left: 5%;
    font-size: 10px;
}

.clicks-count {
    z-index: 1;
    position: absolute;
    top: 30px;
    left: 5%;
    font-size: 10px;
}


.flag-btn {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 15px;
    right: 5%;
    background-image: url(./assets/icons8-flag-96.png);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 1px dashed black;
}

.flag-btn:hover {
  border-color: red;
}

.flag-active {
    background-color: rgba(0, 0, 0, 0.2) ;
}


.cell-container {
  display:grid;
  gap: 2.5px;
}

.easy {
  grid-template-columns: repeat(10, 1fr);    
}

.medium {
    grid-template-columns: repeat(15, 1fr);
}

.hard {
    grid-template-columns: repeat(25, 1fr);
}


.cell {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.25);
}
.cell-open {
    background-color: rgba(0, 0, 0, 0.1);
}

.cell-flag,
.cell-bomb {
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
}

.cell-bomb {
    background-image: url(./assets/bomb.png);
    filter: invert(100%);
    background-size: 15px;
    background-color: aqua;
}

.cell-flag {
    background-image: url(./assets/icons8-flag-48.png);
}

.cell-1 {
    color: blue;
}
.cell-2 {
    color: green;
} 
.cell-3 {
    color: red;
}
.cell-4 {
    color: blueviolet;
}

.cell-5 {
    color: orange;
}

.cell-6 {
    color: aqua;
}

.cell-7 {
    color: chartreuse;
}

.cell-8 {
    color: yellow;
}

.cell-9 {
    color: pink;
}


.statistics-div {
    display: flex;
    flex-direction: column;
}

.stat-title {
    margin-bottom: 0;
}

.hist-title {
    width: 55px;
    margin-top: 10px;
    margin-bottom: 5px;
    vertical-align: top;
    /* text-align: left; */
}

.statistics {
    padding: 5px 5%;
    padding-bottom: 10px;
    border-bottom: none;
    display: flex;
}

.date-hist-title {
    width: 100px
}

.hist{
    width: 55px;
}

/* .history-time,
.time-hist-title {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
} */


@media (max-width: 1280px) {
  .game {
    min-width: 60%;
  /* max-width: 80%; */
  }
}

@media (max-width: 768px) {
    .game {
        min-width: 80%;
    /* max-width: 95%; */
    }

    .cell-container {
        gap: 1.5px;
      }

      .cell {
          width: 16px;
          height: 16px;
          font-size: 12.5px;
      }

      .flag-btn {
        width: 30px;
        height: 30px;

      }
  }

